.popupcontainer {
    width: 100%;
    height: 100%;
    top:0;
    position:fixed;
}

.overlay {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 70%;
}
  
.popup {
    background-color: white;
    display: block;
    width: 500px;
    position: relative;
    top: 5%;
    margin: auto;
    opacity: 100%;
    border: black solid 1px;
    border-radius: 5px;
}

.closeButton {
    display: block;
    position: relative;
    margin-left: auto;
    right: 10px;
    top: 10px;
}

.popupArticle {
    width: 90%;
    margin: auto;
}